<div class="bus-route--tileitem m-align-left">
  <div class="bus-route--tileitem-section m-large m-align-left">
    <h1><%= route_number %></h1>
  </div>
  <div class="bus-route--tileitem-section m-small m-align-left">
    <h2>Minutes</h2>
  </div>
  <div class="bus-route--tileitem m-footer">
    <h3><%= description %></h3>
  </div>
</div>

