$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap.scss';

body {}

.bus-route--tileitem {
  width: 400px;
  height: 400px;
  padding: 0;
  margin: 0;
  border: 1px solid black;
}

.bus-route--tileitem-section {
  height: 80%;
}

.m-large {
  width: 279px;
  background-color:#f9c687;
}

.m-small {
  width: 119px;
  background-color:#71ceb4;
}

.m-align-left {
  float:left;
}
